PORT=5001
DATABASE_URL="postgresql://postgres.your_project_ref:your_database_password@your_supabase_pooler_host:6543/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://postgres:your_database_password@db.your_project_ref.supabase.co:5432/postgres"
JWT_SECRET="your_jwt_secret_here"
